<div>
    <h2 data-translate="ziranliserverApp.shareLog.home.title">Share Logs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="share-log.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ziranliserverApp.shareLog.home.createLabel">
                        Create new Share Log
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shareType"><span data-translate="ziranliserverApp.shareLog.shareType">Share Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shareTime"><span data-translate="ziranliserverApp.shareLog.shareTime">Share Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shareContentKey"><span data-translate="ziranliserverApp.shareLog.shareContentKey">Share Content Key</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shareLink"><span data-translate="ziranliserverApp.shareLog.shareLink">Share Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span data-translate="ziranliserverApp.shareLog.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shareLog in vm.shareLogs track by shareLog.id">
                    <td><a ui-sref="share-log-detail({id:shareLog.id})">{{shareLog.id}}</a></td>
                    <td>{{shareLog.shareType}}</td>
                    <td>{{shareLog.shareTime | date:'medium'}}</td>
                    <td>{{shareLog.shareContentKey}}</td>
                    <td>{{shareLog.shareLink}}</td>
                    <td>
                        <a ui-sref="wechat-user-detail({id:shareLog.user.id})">{{shareLog.user.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="share-log-detail({id:shareLog.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="share-log.edit({id:shareLog.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="share-log.delete({id:shareLog.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
