<div>
    <h2 data-translate="ziranliserverApp.exhibition.home.title">Exhibitions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="exhibition.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ziranliserverApp.exhibition.home.createLabel">
                        Create new Exhibition
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="ziranliserverApp.exhibition.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span data-translate="ziranliserverApp.exhibition.startDate">Start Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span data-translate="ziranliserverApp.exhibition.endDate">End Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="timeDesc"><span data-translate="ziranliserverApp.exhibition.timeDesc">Time Desc</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="memo"><span data-translate="ziranliserverApp.exhibition.memo">Memo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coverImage"><span data-translate="ziranliserverApp.exhibition.coverImage">Cover Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="qrCode"><span data-translate="ziranliserverApp.exhibition.qrCode">Qr Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exhibition in vm.exhibitions track by exhibition.id">
                    <td><a ui-sref="exhibition-detail({id:exhibition.id})">{{exhibition.id}}</a></td>
                    <td>{{exhibition.name}}</td>
                    <td>{{exhibition.startDate}}</td>
                    <td>{{exhibition.endDate}}</td>
                    <td>{{exhibition.timeDesc}}</td>
                    <td>{{exhibition.memo}}</td>
                    <td>{{exhibition.coverImage}}</td>
                    <td>{{exhibition.qrCode}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="exhibition-detail({id:exhibition.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exhibition.edit({id:exhibition.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exhibition.delete({id:exhibition.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
