<div>
    <h2 data-translate="ziranliserverApp.courseOrder.home.title">Course Orders</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="course-order.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ziranliserverApp.courseOrder.home.createLabel">
                        Create new Course Order
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payPrice"><span data-translate="ziranliserverApp.courseOrder.payPrice">Pay Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payTime"><span data-translate="ziranliserverApp.courseOrder.payTime">Pay Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isShare"><span data-translate="ziranliserverApp.courseOrder.isShare">Is Share</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payStatus"><span data-translate="ziranliserverApp.courseOrder.payStatus">Pay Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wechatOrderno"><span data-translate="ziranliserverApp.courseOrder.wechatOrderno">Wechat Orderno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderTime"><span data-translate="ziranliserverApp.courseOrder.orderTime">Order Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span data-translate="ziranliserverApp.courseOrder.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="course.id"><span data-translate="ziranliserverApp.courseOrder.course">Course</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="courseOrder in vm.courseOrders track by courseOrder.id">
                    <td><a ui-sref="course-order-detail({id:courseOrder.id})">{{courseOrder.id}}</a></td>
                    <td>{{courseOrder.payPrice}}</td>
                    <td>{{courseOrder.payTime | date:'medium'}}</td>
                    <td>{{courseOrder.isShare}}</td>
                    <td>{{courseOrder.payStatus}}</td>
                    <td>{{courseOrder.wechatOrderno}}</td>
                    <td>{{courseOrder.orderTime | date:'medium'}}</td>
                    <td>
                        <a ui-sref="wechat-user-detail({id:courseOrder.user.id})">{{courseOrder.user.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="course-detail({id:courseOrder.course.id})">{{courseOrder.course.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="course-order-detail({id:courseOrder.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-order.edit({id:courseOrder.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-order.delete({id:courseOrder.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
