<div>
    <h2 data-translate="ziranliserverApp.exhibitionNameList.home.title">Exhibition Name Lists</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="exhibition-name-list.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="ziranliserverApp.exhibitionNameList.home.createLabel">
                        Create new Exhibition Name List
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="joinTime"><span data-translate="ziranliserverApp.exhibitionNameList.joinTime">Join Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="signTime"><span data-translate="ziranliserverApp.exhibitionNameList.signTime">Sign Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.id"><span data-translate="ziranliserverApp.exhibitionNameList.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exhibiton.id"><span data-translate="ziranliserverApp.exhibitionNameList.exhibiton">Exhibiton</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="exhibitionNameList in vm.exhibitionNameLists track by exhibitionNameList.id">
                    <td><a ui-sref="exhibition-name-list-detail({id:exhibitionNameList.id})">{{exhibitionNameList.id}}</a></td>
                    <td>{{exhibitionNameList.joinTime | date:'medium'}}</td>
                    <td>{{exhibitionNameList.signTime | date:'medium'}}</td>
                    <td>
                        <a ui-sref="wechat-user-detail({id:exhibitionNameList.user.id})">{{exhibitionNameList.user.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="exhibition-detail({id:exhibitionNameList.exhibiton.id})">{{exhibitionNameList.exhibiton.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="exhibition-name-list-detail({id:exhibitionNameList.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exhibition-name-list.edit({id:exhibitionNameList.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="exhibition-name-list.delete({id:exhibitionNameList.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
